@media only screen and (max-width: 980px) and (min-width: 320px) {
    section{
        overflow: hidden;
    }
 
 
 /* Nav Mobile Screen */
     header ul.menu li {
         display: block !important;
         padding: 13px 0;
         text-align: center !important;
         border-bottom: 1px solid #ffffff9c;
     }
 
     header ul {
         padding-top: 40px !important;
     }
     header ul.menu li a.btn.btn_login {
    padding: 12px 167px;
    margin: -15px 0px -13px 0;
}

header ul.menu li a.btn.btn_yellow {
    padding: 12px 105px;
    margin: -15px 0px -13px 0;
}
     #menu-list{
         display: none;
     }
     .mobile-screen{
         position: relative;
         display: block;
     }
     .mobile-screen #list-btn{
         display: block;
         color: #3f0856;
         position: absolute;
         top: -64px;
         right: 5px;
         font-size: 30px;
     }
     a#cross {
         position: fixed;
         top: 5px;
         right: 20px;
         font-size: 35px;
         z-index: 12;
         display: none;
         color: #ff5963;
     }
     nav.mobile-view {
         background: #013281;
         position: fixed;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0px;
         bottom: 0;
         padding-top: 25px;
         z-index: 11;
         overflow-y: scroll;
         display: none;
     }
     a.btn.blue {
         margin: 7px 220px 0 0px;
     }
          /* End Nav Mobile Screen */

 header ul.menu li a {
    font-size: 16px !important;
    color: #fff !important;
}
a.logo img {
    max-width: 44%;
    margin-left: -15px;
}

h1 {
    font-size: 21px;
    letter-spacing: 1px;
    padding: 20px 0 10px;
    line-height: 26px;
}
.topbar {
    display: none;
}

.banner::after {
    display: none;
}

h1 span {
    letter-spacing: -1px;
    font-size: 25px;
}


.banner {
    text-align: center;
}

.btn.btn_red {
    font-size: 14px !important;
    padding: 7px 33px;
}

.partners h2 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 6px;
}

h2 {
    font-size: 26px !important;
    line-height: 30px !important;
}
p {
    font-size: 13px !important;
    margin: 0 0 10px;
}

footer {
    padding: 40px 0 20px;
}
footer h3 {margin: 0;padding: 20px;}

footer ul.menu li a {
    font-size: 13px;
    padding-left: 20px;
}

footer p.para {
    padding-bottom: 20px;
    padding: 0;
    text-align: left !important;
    margin: 0;
}


a.goto-up i.fal.fa-chevron-up {
    left: 42%;
    top: -45px;
}  
  .copyright .text-right p {
    margin-right: 0;
    text-align: center;
}

.copyright .text-left p {
    margin-left: 0;
    text-align: center;
    padding: 3px 0;
}

.logo-btn ul.menu {display: none;}

footer img {
    max-width: 50%;
}
.container{
    width: auto !important;
}

.banner p {
    padding: 2px 0;
}

.owl-theme .owl-nav {display: none;}

.partners .partn::after {
    display: none;
}

.partners {
    padding: 20px 0;
}

.partners img {
    max-width: 90% !important;
}

.pt-4 {
    padding-top: 10px !important;
}

.cta {
    padding: 0;
}

.cta h2 {
    padding: 80px 0 30px;
}

.cta ul.menu.counters li {
    padding: 0;
}

.cta .timer {
    font-size: 46px;
    letter-spacing: -1px;
}

.cta span {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
}

ul.menu.counters {display: flex;margin-top: -30px;padding-bottom: 40px;}

.row a.btn.btn_orange {
    margin-top: 20px;
}

.process h2 {
    font-size: 22px !important;
    letter-spacing: -1px;
}

.form-parent .container {
    max-width: 93%;
    padding: 30px 20px;
}

.form-parent p {
    max-width: 100%;
    padding: 0 0 20px;
}

.form-parent .main-form textarea {
    max-width: 100%;
    margin-top: 2px;
}

.faq-sec h2 {padding-left: 21px;}

.faq-sec .card-header a {
    font-size: 15px !important;
    line-height: 16px;
}

.faq-sec .card-header a.card-link.collapsed:after,.faq-sec .card-header a.card-link:after {
    top: 19px;
}

footer p {
    padding: 20px 0 0;
}

footer ul.menu.social-link li {
    display: inline-block;
    padding: 10px 0px 20px;
}

footer ul.menu.social-link {
    padding: 0;
}

footer .contact-us .menu li {
    text-align: center;
}

.copyright ul.menu {justify-content: center;}



/* Popup form */


div#popupform {
    max-width: 100%;
    background: #fff;
}

.popupform .popup-content {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    min-height: auto;
}

.popupform .popup-content h2 {
    font-size: 24px;
    line-height: 28px;
}

.popupform .popup-content p br {
    display: none;
}

.popupform .popup-content p.form_tagline {
    font-size: 12px !important;
    line-height: 15px;
    margin-bottom: 8px;
}

.popupform button.fancybox-button.fancybox-close-small {
    border-radius: 0;
    top: 0;
    right: 0;
}

.popupform .popup-bann {
    display: none;
}

.popupform .popup-content p {
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
    font-size: 13px !important;
}

.our-details {
    padding-top: 0;
}

.s2 .container {padding: 0;}

div#filters button {
    margin-bottom: 5px;
    padding-left: 10px;
}

div#filters button:hover, div#filters button.is-checked {
    padding-left: 15%;
}

div#filters button:hover::before, div#filters button.is-checked::before {
    left: 11%;
}

div#filters {
    margin-bottom: 20px;
}

.pfimg {
    width: 33%;
}

/* End */




}